<% include ../partials/header %>

	<style type="text/css">
		a{
			color: white;
		}
		button{
			margin: 20px;
		}
	</style>

	<button class="btn btn-warning"><a href="/admin/logout">Log Out</a></button>
	<h1>This is the Admin Dashboard</h1>

<% include ../partials/footer %>