<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<footer>
		<div class="footer-col" >
			<p>CONNECT WITH US</p>
			<div id="social-icons">
				<div class="social-icons-image">
					<a href="https://www.facebook.com/HotNightEvents/"><img src="/images/facebook-icon-round.png"></a>
				</div>
				<div class="social-icons-image">
					<a href="https://www.instagram.com/hotnightevents/?hl=en"><img src="/images/instagram-icon-round.png"></a>
				</div>
				<div class="social-icons-image">
					<a href="https://twitter.com/discoeventsnj?lang=en"><img src="/images/twitter-icon-round.png"></a>
				</div>
				<div class="social-icons-image">
					<a href="mailto:mary@hotnightevents.com"><img src="/images/email-icon-round.jpg"></a>
				</div>
			</div>	
			<div>	
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large"></div>
			</div>
		</div>

		<div class="footer-col" id="col-2">
			<p id="p1">JOIN THE HOTLIST</p>
			<p class="newsletter-promo">GET UPDATES ON THE HOTTEST EVENTS</p>		
			<p class="newsletter-promo">AND EXCLUSIVE PROMOTIONS</p>
			<form class="form-inline">
			  <div class="form-group">
			    <div class="input-group">
			      <input type="text" class="form-control" id="newletter-input" placeholder="Newsletter is coming soon" name="newsletter">
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary">Sign Up</button>
			</form>	
			<p>BUCKLE UP. DON'T DRINK AND DRIVE
			<p>All Rights Reserved. Hot Night Events, LLC</p>
			<p id="created">Created by Jordan Toro</p>
		</div>

		<address class="footer-col" id="col-3">
			<p>HOT NIGHT EVENTS, LLC</p>	
			<P>163 EAST MAIN ST</P>
			<p>UNIT 289</p>
			<p>LITTLE FALLS, NJ 07424</p>
			<p>CELL: (201) 463-2091</p>
			<p>MARY@HOTNIGHTEVENTS.COM</p>
		</address>	
	</footer>

</body>
</html>