
	<footer>
		<div class="footer-col" >
			<p>CONNECT WITH US</p>
			<div id="social-icons">
				<div class="social-icons-image">
					<a href="https://www.facebook.com/HotNightEvents/"><img src="images/facebook-icon-round.png"></a>
				</div>
				<div class="social-icons-image">
					<a href="https://www.instagram.com/hotnightevents/?hl=en"><img src="images/instagram-icon-round.png"></a>
				</div>
				<div class="social-icons-image">
					<a href="https://twitter.com/discoeventsnj?lang=en"><img src="images/twitter-icon-round.png"></a>
				</div>
				<div class="social-icons-image">
					<a href="mailto:mary@hotnightevents.com"><img src="images/email-icon-round.jpg"></a>
				</div>
			</div>		
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large"></div>
		</div>

		<div class="footer-col">
			<p>JOIN THE HOTLIST</p>
			<div>
				<p>GET UPDATES ON THE HOTTEST EVENTS</p>
				<p>AND EXCLUSIVE PROMOTIONS</p>
			</div>
			<form>
				<input type="text" name="newsLetter" placeholder="Enter email address">
				<button type="submit">SIGN UP</button>
			</form>		
			<p>BUCKLE UP. DON'T DRINK AND DRIVE</p>
			<p>All Rights Reserved. Hot Night Events, LLC</p>
			<p>Created by Jordan Toro</p>
		</div>

		<div class="footer-col">
			<p>HOT NIGHT EVENTS, LLC</p>	
			<P>163 EAST MAIN ST</P>
			<p>UNIT 289</p>
			<p>LITTLE FALLS, NJ 07424</p>
			<p>CELL: (201) 463-2091</p>
			<p>MARY@HOTNIGHTEVENTS.COM</p>
		</div>
		
	</footer>
</body>
</html>