<% include partials/header %>
<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
<div id="header-banner">
  YOUR SOURCE FOR THE HOTTEST
  <div id=flip>
    <div><div>EVENTS</div></div>
    <div><div>LIVE SHOWS</div></div>
    <div><div>RESTAURANTS</div></div>
  </div>  	
</div>

<% include partials/footer%>