<% include partials/header %>
<link rel="stylesheet" type="text/css" href="./stylesheets/slick.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/slick-theme.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">

<div id="header-banner">
  YOUR SOURCE FOR THE HOTTEST
  <div id=flip>
    <div><div>EVENTS</div></div>
    <div><div>LIVE SHOWS</div></div>
    <div><div>RESTAURANTS</div></div>
  </div>  	
  <div id="fb-like-icon">
  	<a href="https://www.facebook.com/HotNightEvents/" target="_blank"><img src="./images/facebook-like.png"></a>
  </div>
</div>

<h1><em>HOT NIGHT EVENTS FEATURED EVENTS</em></h1>

<div class="featured-slider">
  <div><img src="images/image1.png"></div>
  <div><img src="images/image2.png"></div>
  <div><img src="images/image3.png"></div>
  <div><img src="images/image4.png"></div>
  <div><img src="images/image5.png"></div>
</div>

<h2>LET HOT NIGH EVENTS PROMOTE YOUR EVENT OR BUSINESS</h2>
<div id="promote-btns">
	<a href="#"><button>PROMOTE YOUR EVENT</button></a>
	<a href="#"><button>LIST YOUR BUSINESS NOW</button></a>
</div>
<script type="text/javascript" src="./scripts/slick.min.js"></script>
<script type="text/javascript" src="./scripts/home.js"></script>
<% include partials/footer%>