<% include partials/header %>
<link rel="stylesheet" type="text/css" href="./stylesheets/slick.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/slick-theme.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">

<div id="header-banner">
  YOUR SOURCE FOR THE HOTTEST
  <div id=flip>
    <div><div>EVENTS</div></div>
    <div><div>LIVE SHOWS</div></div>
    <div><div>RESTAURANTS</div></div>
  </div>  	
  <div id="fb-like-icon">
  	<a href="https://www.facebook.com/HotNightEvents/" target="_blank"><img src="./images/facebook-like.png"></a>
  </div>
</div>

<h2><em>HOT NIGHT EVENTS FEATURED EVENTS</em></h2>

<div class="featured-slider">
  <div><img src="images/gatehouse-reunion.jpg"></div>
  <div><img src="images/flyer.jpg"></div>
  <div><img src="images/used-to-bes.jpg"></div>
  <div><img src="images/gatehouse-reunion.jpg"></div>
  <div><img src="images/flyer.jpg"></div>
  <div><img src="images/used-to-bes.jpg"></div>
</div>

<h3>LET HOT NIGHT EVENTS PROMOTE YOUR EVENT OR BUSINESS</h3>

<div id="promote-btns">
	<a href="#">PROMOTE YOUR EVENT</a>
  <a href="#">LIST YOUR BUSINESS NOW</a>
</div>

<script type="text/javascript" src="./scripts/slick.min.js"></script>
<script type="text/javascript" src="./scripts/home.js"></script>
<% include partials/footer%>